@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 1.5rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3.5rem;
}

.search-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    width: 50%;
    margin:auto;
}

input {
    width: 100%;
    font-size: 24px;
    padding: 0.5rem;
}

.user-cards-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.user-cards {
    border: 2px solid black;
    padding: 3rem 1rem 2rem 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 5px 5px 10px -4px rgb(0 0 0 / 75%);
    gap: 0.5rem;
    position: relative;
}

.user-id {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.hide {
    display: none;
  }

  @media screen and (max-width: 768px) {

    body {
        margin: 1rem 0;
        gap: 2rem;
        padding: 1.5rem 1rem;
    }

    .search-wrapper {
        width: 100%;
    }

    .user-cards-wrapper {
        grid-template-columns: 1fr;
    }
    
  }
